@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit";
}


@layer components {
  .text-home-heading-large {
    font-size: 46px;
  }

  .text-home-heading-small {
    font-size: 36px;
  }
}
